@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 110%;
    background-color: #f5f5f5;
}

/* * {
    outline: red solid 1px;
    
} */

.container{
    display: flex;
    align-items: flex-start;
}

.content{
    flex: 1;
    padding: 20px;
}

.add_btn{
    background: #6366f1;
    border: #6366f1;
    color: white;
    padding: 1%;
    border-radius: 20px;
    margin-left: 5%;
}

.task-card {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
}

.content button{
    margin-bottom: 2%;
}
