.sidebar h2{
    color: #6366f1;
}

.sidebar p{
    color: #e0e7ff;
    font-size: 75%;
}

.sidebar select{
    background-color: #a3aed0;
    border-radius: 10px;
    padding: 1%;
    width:100%;
    font-size: 100%;
}

.sidebar select:hover,
.sidebar select:focus{
    background-color: #e0e7ff;
}